@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.min-container{
    background-color: bisque;
    width: 100%;
    margin: -10px -10px -10px -10px;

}

.main-content{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: black;
    height: 850px;
    color: white;
    display: inline-block;
}
.cont-head{
    margin-top: 400px;
    text-align: center;
    font-size: 100px;
    font-family: 'Quantico',sans-serif;
}
.cont-subhead{
    text-align: center;
    font-size: 30px;
    font-family: 'Kalam',sans-serif;
}


.nav{
    position:fixed;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    min-width: 500px;
    margin: auto;
    width: 80%;
    padding: 0 100px ;
}



.nav-links{
  display: flex;
  position:absolute;
  justify-content: space-around;
  width:100%;
  align-items:stretch;
  background: #ffffffe0;
  padding: 20px 15px;
  border-radius: 12px;
  font-weight:300;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #000000;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}


.services-section{
  min-width: 500px;
  margin: auto;
  width: 80%;
  padding: 0 100px ;
}
}

.row{
  display: flex;
  -webkit-text-size-adjust: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row ::after, ::before {
  box-sizing: border-box;
}

.services-item{
  text-align: center;
  padding: 10px 10px 18px 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.5);
  box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.5);
  margin-bottom: 30px;
  display: block;
  box-sizing: border-box;
}

.div1{    
  position: relative;
  width: 350px;
  height: 150px;
  padding-right: 20px;
  padding-left: 20px;

}

.services-item img{
  min-width: 100%;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.services-item h3{
  color: #191039;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: Quantico;
}
.services-item p{
  font-family: 'Oswald', sans-serif;
}

.container{
  min-width: 500px;
  margin: auto;
  width: 80%;
  padding: 0 100px ;
}